<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jcimadras.jcimadras">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Volley.MyVolleySingleton"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LogoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB6x59bD0C9SXkXt54MSYh_2pErRXI1DSM" />

        <activity android:name=".Maps.MapsActivity" />
        <activity android:name=".SpecificEvent" />
        <activity android:name=".ImageviewFull" />
        <activity android:name=".RegisterEvent" />
        <activity android:name=".ViewParticipants" />
        <activity android:name=".AddImageActivity" />
        <activity android:name=".SpecificGallery" />
        <activity android:name=".AddToExistingGallery" />
        <activity android:name=".EditParticipantsActivity" />

        <service android:name=".Notify" />
    </application>

</manifest>